  /*General*/
 header {
  background-color: white;
    /*background: linear-gradient(gray, #272B30);*/
    color:#0295da;
    height:60px;
}

body {
  margin: 0px;
  background-color: #0295da;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
  position: relative;
  background-size: 100%;

}

h1 {
opacity:1;
    color: white;
    margin-left: 40px;
    font-size: 40pt;
    font-weight: 400;
}

h2 {
color: white;
    margin-left: 40px;
    font-size: 20pt;
}

p {
color: white;
    margin-left: 40px;
    font-size: 11pt;
}
 /*General End*/

/* Navigation */
#nav01 {
  position: absolute;
    left: 45px;
    top: 5px;
}

#teamLogos {
  float:right;
}

ul#menu {  
  padding: 0px; 
  padding-left: 40px; 
  margin-bottom: 10px;
}

ul#menu li {
    display: inline;  /* spreads the tabs horizontally across */
    margin-right: 5px;  /* how far apart the tabs are from each other */
}

ul#menu li a {
    background-color: #ffffff; /* tabs background color */
    padding: 5px 5px;
    text-decoration: none;
    color: #272B30;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-color: #0295da;
    cursor: pointer; cursor: hand;
}

ul#menu li a:hover {
    color: white;
    /*background: linear-gradient(steelblue, white);*/
    background-color: #c9017b;
    cursor: pointer; cursor: hand;
}
/*navigation end */

/* index.html */
#topRow > div {         /* > means it affects all it's children objects */
  float:left;
  width: 33%;
  height: 400px;
  text-align: center;
  overflow: auto;
}

#bottomRow > div {
float:left;
height: 200px;
width: 50%;
 text-align: center;
}
/* index.html end*/

/* countries.html */
#topRowCountries > div {        
  float:left;
  width: 33%;
  height: 600px;
  text-align: center;
}

#nzTeam {
  padding: 2px;
  text-align: center;
  background-color: gray;
}
#ausTeam {
  padding: 2px;
  text-align: center;
  background-color: gray;
}

#countryData {      
  padding: 2px;
  text-align: center;
  background-color: red;
}

#nzGraphs{
  height:300px;
}

#ausGraphs{
  height:300px;
}

#main {
  position: absolute;
  left: 800px;
  top: 500px;
  width: 85px;
  text-align: center;
}

.teamList {
  display: inline;
  list-style-type: none;
  text-decoration: none;
}

/* teams.html */
/*the blurbs, etc*/
.teamRow > div {         /* > means it affects all it's children objects */
  float:left;
  width: 30%;
  padding: 10px;
  /*height: 500px;*/
  text-align: center;
}

.teamRow > div > div:first-child {
  overflow: auto;
  height: 300px;
}

}

.teamRow > div > div:first-child {
  overflow: auto;
  height: 300px;
}

/*#teamA,
#teamB {
  height: 300px;
  overflow: auto;
}*/

#otherCombinedGraph {
  float:bottom;
  height:200px;
}

.teamList {
  color: white;
  margin-left: 40px;
  font-size: 15pt;
}

#nzBarChart {
  background-color: blue;
  height: 200px;
}

#ausBarChart {
  background-color: green;
  height: 200px;
}

/* teamlist */
#pulse {
  background: linear-gradient(to left,#3894e7, #e7d738);
}

#mystics {
  background: linear-gradient(to left,#e52c2c, #2ca9e5);
}

#magic {
  background: linear-gradient(to left,#e52c2c, #2ca9e5);
}

#tactix {
  background: linear-gradient(to left,#e52c2c, #2ca9e5);
}

#mystics {
  background: linear-gradient(to left,#e52c2c, #2ca9e5);
}

#teamAstats,
#teamBstats {
  padding-top: 15px;
}


/* bar chart */

#barChart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    /*padding: 3px;*/
    margin: 1px;
    color: white;
}

.axis path,
.axis line{
    fill: none;
    stroke: #000;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}

.arc path{
    stroke: #fff;
}

.barchart {
    margin-left: 10px;
}

.barchart div {
    text-align: left;
    background-color: #c9017b;
    padding: 2px;
    height 20px;
}

div.barchart_right {
    margin: auto 0px auto auto;
    padding-right: 5px;
    text-align: right;
}

#leaderBoard {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  padding-left: 3px;
  text-indent: 2px;
}

#leaderBoard tr:nth-child(odd) {
  background-color: #cfe0ef;
  color: black;
  border-style: solid;
  border-color:  #6fafe0;
}

#leaderBoard tr:nth-child(even){
  background-color: white;
  color: black;
  border-style: solid;
  border-color:  #6fafe0;
}

#leaderBoard tr td:first-child{
  text-align: left;
  padding-right: 5px;
}

#leaderBoard tr td{
  padding-top: 2px;
  padding-bottom: 2px;
}

#scores {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  padding-left: 3px;
  text-indent: 2px;
}

#scores tr:nth-child(odd) {
  background-color: #cfe0ef;
  color: black;
  border-style: solid;
  border-color:  #6fafe0;
}

#scores tr:nth-child(even){
  background-color: white;
  color: black;
  border-style: solid;
  border-color:  #6fafe0;
}

#scores tr td:first-child{
  text-align: left;
  padding-right: 5px;
}

#scores tr td{
  padding-top: 2px;
  padding-bottom: 2px;
}



#upcoming {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  padding-left: 3px;
  text-indent: 2px;
}

#upcoming tr:nth-child(odd) {
  background-color: #cfe0ef;
  color: black;
  border-style: solid;
  border-color:  #6fafe0;
}

#upcoming tr:nth-child(even){
  background-color: white;
  color: black;
  border-style: solid;
  border-color:  #6fafe0;
}

#upcoming tr td:first-child{
  text-align: left;
  padding-right: 5px;
}

#upcoming tr td{
  padding-top: 2px;
  padding-bottom: 2px;
}

